.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #61892f;
}

.social_icon span:hover{
color: #86C232;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -2px;
}

.input-group-prepend span{
width: 50px;
background-color: #61892f;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}



